/*!
 * OvrPwrd Theme
 * Designed by logs
 */

@font-face {
    font-family: 'TF2Build';
    src: url('tf2build-webfont.eot');
    src: url('tf2build-webfont.eot?#iefix') format('embedded-opentype'),
         url('tf2build-webfont.woff') format('woff'),
         url('tf2build-webfont.ttf') format('truetype'),
         url('tf2build-webfont.svg#tf2_buildtf2_build') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tf2regular';
    src: url('tf2-webfont.eot');
    src: url('tf2-webfont.eot?#iefix') format('embedded-opentype'),
         url('tf2-webfont.woff') format('woff'),
         url('tf2-webfont.ttf') format('truetype'),
         url('tf2-webfont.svg#tf2regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tf2secondary';
    src: url('tf2secondary-webfont.eot');
    src: url('tf2secondary-webfont.eot?#iefix') format('embedded-opentype'),
         url('tf2secondary-webfont.woff') format('woff'),
         url('tf2secondary-webfont.ttf') format('truetype'),
         url('tf2secondary-webfont.svg#tf2secondary') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clearfix {
  *zoom: 1;
}

html {
  background-image: url("/design/img/bggradient.png");
  background-repeat: repeat-x;
  background-color: rgb(188, 173, 166);
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 1281px;
  font-family: "tf2secondary", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: transparent;
}

body[style] {
  padding-top: 0px !important;
}

a {
  color: #ffffff;
  text-decoration: inherit;
}

a:hover,
a:focus {
  color: rgb(230, 230, 230);
  text-decoration: none;
}

.container-fluid {
  background-color: #3f2319;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "tf2regular", Arial, sans-serif;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-family: "tf2regular", Arial, sans-serif;
  color: rgb(230, 230, 230);
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 29px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18.5px;
}

h6 {
  font-size: 16.4px;
}

h1 small {
  font-size: 28px;
}

h2 small {
  font-size: 21px;
}

h3 small {
  font-size: 17.5px;
}

h4 small {
  font-size: 17.5px;
}

.form-actions {
  background-color: #3f2319;
  border-top: inherit;
}

table {
  border-collapse: inherit;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: inherit;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: inherit;
}

.dropdown-menu > li > a {
  font-size: 20px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background-image: -moz-linear-gradient(top, #73432d, #663c28);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#73432d), to(#663c28));
  background-image: -webkit-linear-gradient(top, #73432d, #663c28);
  background-image: -o-linear-gradient(top, #73432d, #663c28);
  background-image: linear-gradient(to bottom, #73432d, #663c28);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff73432d', endColorstr='#ff663c28', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -moz-linear-gradient(top, #73432d, #663c28);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#73432d), to(#663c28));
  background-image: -webkit-linear-gradient(top, #73432d, #663c28);
  background-image: -o-linear-gradient(top, #73432d, #663c28);
  background-image: linear-gradient(to bottom, #73432d, #663c28);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff73432d', endColorstr='#ff663c28', GradientType=0);
}

.well {
  padding: 5px 0px;
  background-color: #fff;
  border: inherit;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inherit;
     -moz-box-shadow: inherit;
          box-shadow: inherit;
  font-size: 20px;
  font-family: TF2Build;
}

.alert {
  margin-bottom: 10px;
  margin-top: 10px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: inherit;
  color: #ffffff;
  background-color: transparent;
}

.nav > li > a > img {
  max-width: none;
  margin-top: -2px;
  margin-bottom: -2px;
}

.nav-header {
  padding: 3px 20px;
  font-size: 20px;
  font-weight: inherit;
  color: rgb(51, 51, 51);
  text-shadow: none;
  margin-top: 6px;
  margin-bottom: 6px
}

.nav-list {
  padding-right: inherit;
  padding-left: inherit;
  margin-bottom: inherit;
}

.nav-list > li > a,
.nav-list .nav-header {
  margin-right: inherit;
  margin-left: inherit;
  text-shadow: inherit;
}

.nav-list > li > a {
  padding: 3px 20px;
  color: rgb(51, 51, 51);
}

.well > .nav-list > li > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #73432d, #663c28);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#73432d), to(#663c28));
  background-image: -webkit-linear-gradient(top, #73432d, #663c28);
  background-image: -o-linear-gradient(top, #73432d, #663c28);
  background-image: linear-gradient(to bottom, #73432d, #663c28);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff73432d', endColorstr='#ff663c28', GradientType=0);
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  text-decoration: none;
  text-shadow: inherit;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #73432d, #663c28);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#73432d), to(#663c28));
  background-image: -webkit-linear-gradient(top, #73432d, #663c28);
  background-image: -o-linear-gradient(top, #73432d, #663c28);
  background-image: linear-gradient(to bottom, #73432d, #663c28);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff73432d', endColorstr='#ff663c28', GradientType=0);
}

.navbar {
  margin-bottom: 0px;
  font-family:"TF2Build",Sans-Serif;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
  background-color: inherit;
  background-image: inherit;
  background-repeat: inherit;
  border: inherit;
  -webkit-border-radius: inherit;
     -moz-border-radius: inherit;
          border-radius: inherit;
  filter: inherit;
  -webkit-box-shadow: inherit;
     -moz-box-shadow: inherit;
          box-shadow: inherit;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: inherit;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  border-width: inherit;
}

.navbar-fixed-bottom {
  border-width: 1px 0 0;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  background-color: rgb(48, 29, 19);
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: rgb(48, 28, 19);
}

.navbar-inverse .navbar-inner {
  background-image: -moz-linear-gradient(top, #73432d, #4e2e1f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#73432d), to(#4e2e1f));
  background-image: -webkit-linear-gradient(top, #73432d, #4e2e1f);
  background-image: -o-linear-gradient(top, #73432d, #4e2e1f);
  background-image: linear-gradient(to bottom, #73432d, #4e2e1f);
  border-color: inherit;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff73432d', endColorstr='#ff4e2e1f', GradientType=0);
  border-top: 1px solid #2b1811;
  border-bottom: 1px solid #2b1811;
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: rgb(235, 235, 235);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-size: 25px;
}

.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  background-color: rgb(48, 28, 19);
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  background-color: #301c13;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: rgb(48, 28, 19);
}

#header {
    background-image: url("/design/img/header.png");
    background-color: transparent;
    width: 1280px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.controls > .input-prepend > .add-on {
    color: rgb(51, 51, 51);
}

.page-header > h1 > small  a {
  color: rgb(230, 230, 230);
}

.page-header > h1 > small  a:hover {
  color: rgb(230, 230, 230);
  text-decoration: none;
}

.table-condensed {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
}

.alert a, .alert a:hover, .warning a, .warning a:hover {
  color: #956f2e;
}

.alert-info a, .alert-info a:hover, .info a, .info a:hover {
  color: #285d77;
}

.alert-error a, .alert-danger a, .alert-error a:hover, .alert-danger a:hover, .error a, .error a:hover {
  color: #802d2b;
}

.alert-success a, .alert-success a:hover, .success a, .success a:hover, .success a, .success a:hover  {
  color: #29562a;
}

.alert a:hover, .alert-info a:hover, .alert-error a:hover, .alert-danger a:hover, .alert-success a:hover, .warning a:hover, .info a:hover, .error a:hover, .success a:hover {
  text-decoration: underline;
}

.warning {
  color: #c09853;
}

.success {
  color: #468847;
}

.error {
  color: #b94a48;
}

.info {
  color: #3a87ad;
}

.table tbody tr td {
  background-color: #573322 !important;
}

.table thead tr th {
  background-color: #ffffff;
  /*background-color: #ECEBE5;
  background-image: -moz-linear-gradient(top, #fefefe, #dad8cb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#dad8cb));
  background-image: -webkit-linear-gradient(top, #fefefe, #dad8cb);
  background-image: -o-linear-gradient(top, #fefefe, #dad8cb);
  background-image: linear-gradient(to bottom, #fefefe, #dad8cb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe', endColorstr='#ffdad8cb', GradientType=0); */
  color: rgb(51, 51, 51);
}

.well > .nav-list {
  margin-top: -6px;
  margin-bottom: 0px;
}

div.page-header p {
  margin: 0px;
}

table tr.success, table tr.success a {
  color: #bff2b8;
}

table tr.success a:hover {
  color: #96be90
}

table tr.info, table tr.info a {
  color: #b9b8f2;
}

table tr.info a:hover {
  color: #a1a0d2;
}

table tr.warning, table tr.warning a {
  color: #f2eea9;
}

table tr.warning a:hover {
  color: #d3d093;
}

table tr.error, table tr.error a {
  color: #f2a5a5;
}

table tr.error a:hover {
  color: #da8282;
}

table tr.success a:hover, table tr.info a:hover, table tr.warning a:hover, table tr.error a:hover {
  text-decoration: none;
}

span.info-separator {
  color: #ffffff;
  margin-left: -4px;
  margin-right: -4px;
}

span.info-association, span.info-association a, span.info-organization {
  color: #ffffff;
}

span.info-association a:hover {
  color: rgb(235, 235, 235);
  text-decoration: none;
}